# Virtual environment
venv/
env/

# Data files 
data/*.csv
data/*.zip

# Results
results/

# Notebooks checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml